:root {
--san-juan: #2f4d65;
--sunglow: #fbbb34;
--rose-fog: #e8c6bd;
--burnt-sienna: #ef6764;
--copper-rust: #8b4944;
--viking: #55bbdf;
--my-pink: #d3a282;
--driftwood: #b28d49;
--energy-yellow: #fad454;
}

body {
    background-color: var(--san-juan);
}

h1 {
    font-size: xxx-large;
    text-align: center;
    color: white;
    text-shadow: var(--viking);
}

.library-body {
    display: flex;
    flex-direction: column;
}

button#addBookButton {
    margin:auto;

    padding-block: 15px;
    padding-inline: 20px;
    background-color: var(--viking);

    font-weight: 700;
    color: white;
}

button#addBookButton:hover {
    background-color: var(--sunglow);
}

#library-books {
    display: grid;
    grid-template-rows: 200px;  
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 200px;
    gap: 20px;
    width: 1260px;
    margin:auto;
}

div.book {
    padding:30px;
    background-color: var(--viking);
    font-size: x-large;
}

.title {
    font-weight: 700;
    margin-bottom: 2px;
}

.author {
    margin-bottom: 15px;
}

#addBookModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: var(--sunglow);
    
}

.inputs {
    display: flex;
    flex-direction: column;
    padding:30px;
}


#submitButton {
    padding-block: 10px;
    
}

.hidden {
    visibility: hidden;
}

.modalBackdrop{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
}

.deleteButton {
    position:relative;
    text-align: end;
    bottom: 150px;
    left: 230px;
    color: var(--driftwood);
    font-weight: 700;
}